<div class="container">
    <%= render 'shared/errors', obj:@user %>
    <div class="row justify-content-center bg-info p-4 rounded mt-4">
            <%= form_with(model: @user, local: true) do |f| %>
                <div class="row mb-3">
                    <div class="col-1">
                        <%= f.label :username, class: "col-form-label" %><br/>
                    </div>
                    <div class="col-11">
                        <%= f.text_field :username, class: "form-control", placeholder: 'Enter a username' %>
                    </div>    
                </div>
                <div class="row mb-4">
                    <div class="col-1">
                        <%= f.label :email, class: "col-form-label" %><br/>
                    </div>    
                    <div class="col-11">
                        <%= f.email_field :email, class: "form-control", placeholder: 'Enter your email' %>
                    </div>    
                </div>
                <div class="row mb-4">
                    <div class="col-1">
                        <%= f.label :password, class: "col-form-label" %><br/>
                    </div>    
                    <div class="col-11">
                        <%= f.password_field :password, class: "form-control", placeholder: 'Enter a password' %>
                    </div>    
                </div>
                <div class="mb-3 d-flex justify-content-center">
                    <%= f.submit class: "btn btn-outline-light" %>
                </div>

            <% end %>
    </div>
</div>