<div class="article-index">
    <h1 class='text-center my-4'>Meet the bloggers</h1>

    <% @users.each do |user| %>
        <div class="card text-center col-8 mb-4 mx-auto shadow">
            <div class="card-header">
                by - <%= link_to user.username, user_path(user.id) %>
            </div>
            <div class="card-body">
                <%= gravatar_for user, size: 150 %>
               <p classs='card-text'> <%= pluralize(user.articles.count, "article") %></p>
                <%= link_to 'View profile', user_path(user.id), class: 'btn btn-outline-success' %>
                <%= link_to 'Edit', edit_user_path(user.id), class: 'btn btn-outline-info' %>
            </div>
            <div class="card-footer text-muted">
                <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
            </div>
        </div>
    <% end %>
</div>