    <h1 class='text-center my-4'><%=  @user.username %>'s Profile</h1>

    <%= gravatar_for @user, size: 200 %>

    <%= link_to 'Edit your profile', edit_user_path(@user), class: 'btn btn-outline-info mb-4 mx-auto' %>

    <% if @articles.length > 0 %>
            <%= render 'articles/article' %>
        <% else %>
            <h1 class='mx-auto mb-4'>No articles to display</h1>
            <%= link_to 'Write first article', new_article_path, class: 'btn btn-success mb-4 mx-auto' %>
    <% end %>
